<section id="dashboard">
	<div class="container">
		<br><br>
		<h1>Welcome {{user.name}}</h1>
		<br>
		<h2>Your email is: {{user.email}}</h2>
		<h2>Role: {{user.role}}</h2>
		<br><br>
		<a class="btn btn-danger btn-lg" href="/cart">View Cart</a>
		<a class="btn btn-danger btn-lg" href="/products/list">View Products</a>
	</div>
</section>